<a href="/events">Events Dashboard</a>
<h3><%= @show_event.name %></h3>
<p>Host: <%= @show_event.user.first_name %> <%= @show_event.user.last_name %></p>
<p>Date: <%= @show_event.date %></p>
<p>Location: <%= @show_event.city %>, <%= @show_event.state %></p>
<p>People are are joining this event: <%= @show_event.joins.count %></p>
<table>
    <tr class="table_head">
        <td>Name</td>
        <td>Location</td>
        <td>State</td>
    </tr>
    <% @show_event.users_joined.each do |user| %>
        <tr>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.city %></td>
            <td><%= user.state %></td>
        </tr>
    <% end %>
</table>
<h3>Discussion about this event:</h3>
<% @comments.each do |comment| %>
    <p><%= comment.user.first_name %> says: <%= comment.content %></p>
    <p>---------------------</p>
<% end %>
<form action="/events/<%= @show_event.id %>/comment" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Add Comment:</p>
    <textarea name="content"></textarea>
    <input type="submit" value="Submit Comments">
</form>